/* Colors and basic styles */
$colorscheme: (
  'bkg-gray': #cfcfcf,
  'bkg-white': whitesmoke
);

:root {
  --nav-background: #cfcfcf;
}

html, main {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
}

html, body {
  min-height: 100%;
  margin: 0;
  background-color: var(--nav-background);
}


